.section-tabs
{
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

.section-tabs > button
{
    border-radius: var(--radius-large) !important;
    background-color: #fff;
    color: var(--text);
    border: 1px solid var(--border);
    display: inline-flex;
    align-items: center;
  
}

.section-tabs > button.active
{
     background-color: var(--green-600);
    color: #fff;
}

.section-tabs > button.active.anglophone
{
    background: #2563eb;
    border-color:#2563eb
}