.modal-overlay{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 300;
}

.modal 
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-large);
    box-shadow: var(--shadow-3);
    width: 100%;
    max-width: 500px;
    max-height: 90vh;
    animation: modal-in 0.3s ease;
}

@keyframes modal-in {
    from{
        opacity: 0;
        transform: scale(.5) translateY(-8px);
    }
}

.modal-header 
{
    padding: 20px 24px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}

.modal-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--text);
}

.modal-close {
    height: 32px;
    width: 32px;
    border: 1px solid var(--border);
    border-radius: var(--radius-small);
    background: none;
    transition: all .15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close:hover{
    background-color: var(--bg-color);
    color: var(--text);
}

.modal-body 
{
    padding: 20px 24px;
    overflow-y: auto;
    flex: 1;
}

.modal-footer
{
    padding: 20px 24px;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-shrink: 0;
}